{% extends 'base2.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}AI Article Writer | Feather.ai{% endblock  %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Css/savedCopies.css' %}" />
{% endblock  %}

{% block bootstrap %}
{% endblock %}

{% block content %}

    <div class="main-page">
        <div class="part-1">
            <div class="btn left disabled">
                <ion-icon name="caret-back-outline"></ion-icon>
            </div>
            <div class="dates">
                <ul>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li class="active">12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                    <li>12-20 feb</li>
                </ul>
            </div>
            <div class="btn right">
                <ion-icon
                    name="caret-forward-outline"
                ></ion-icon>
            </div>
        </div>
        <div class="part-2">
            <div class="day">
                <div class="head">
                    <div class="num"><p>01</p></div>
                    <p>wednesday</p>
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </div>
                {% for article in saved_articles %}
                    <div class="saved-page">
                        <p>{{ article.title}} </p>
                        <div class="keys">
                            {% for tag in article.tags|split_string:"," %}
                            <span>{{ tag }}</span>

                            {% endfor %}
                        </div>
                        {% with outline=article.outlines.first %}
                        {% with suboutline=outline.suboutline_set.first %}

                        <p>
                            {{ suboutline.body|truncatechars_html:100 }}
                        </p>
                        {% endwith %}

                        {% endwith %}
                        <img src="{{ article.image.url}}" alt="">
                        <div class="footer">
                            <p>{{article.created_at|time:"H:i A"}}</p>
                            <div class="social">
                                <a href="">
                                    <img src="{% static 'images/facebook.svg' %}" alt="">
                                </a>
                                <div class="plus">
                                    <ion-icon name="add-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="day">
                <div class="head">
                    <div class="num"><p>01</p></div>
                    <p>wednesday</p>
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="day">
                <div class="head">
                    <div class="num"><p>01</p></div>
                    <p>wednesday</p>
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="day">
                <div class="head">
                    <div class="num"><p>01</p></div>
                    <p>wednesday</p>
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="day">
                <div class="head">
                    <div class="num"><p>01</p></div>
                    <p>wednesday</p>
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saved-page">
                    <p>The Importance of UI/UX Design</p>
                    <div class="keys">
                        <span>ui/ux design</span>
                        <span>ui design</span>
                        <span>UX</span>
                    </div>
                    <p>
                        UI/UX design is a critical aspect of product development in today's digital age. UI/UX design refers to ...
                    </p>
                    <img src="{% static 'images/image saved page.svg' %}" alt="">
                    <div class="footer">
                        <p>12:00 PM</p>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'images/facebook.svg' %}" alt="">
                            </a>
                            <div class="plus">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
<script src="{% static 'js/savedCopies.js' %}"></script>
{% endblock  %}
